<!-- <nav class="navbar navbar-default navbar-inverse navbar-fixed-top"  role="navigation">
	<div class="container">
		<div class="navbar-header">
		<a class="navbar-brand" href="/#!/side">
  				Silicon Software Services
  			</a>
			<a id="menu-toggle" href="#" class="navbar-toggle">
					<span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			</a>
  			
		</div>
		<div id="sidebar-wrapper" class="sidebar-toggle">

			<ul class="sidebar-nav">
		    	<li>
		      		<a href="/#!/allQuestionsToAdmin">All Questions</a>
		    	</li>
		    	<li>
		      		<a href="/#!/insert">Add Questions</a>
		    	</li>
		    	<li>
		      		<a href="/#!/userdetailswithScore">Students Profile</a>
		    	</li>
		  	</ul>
		</div>
  	</div>
</nav> -->
<nav style="background-color: silver" class="navbar navbar-fixed navbar-static-top yamm ms-navbar ms-navbar-dark">
<!-- ng-if="location.path() !== '/en-US/'" -->
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://www.siliconsoftwareservices.com/">
                 <img style="height:55px;width:55px" src="../images/logo.png" alt=""> 
                    <span ngcontent-vym-4 class="ms-title" style="font-size: 20px">Silicon

                        <strong  style="color: blue">Software Services</strong>
                    </span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav"  style="float: right">
                    <li class="dropdown {{businessTab}}" ng-click="navBar(1)">
                        <a href="/#!/allQuestionsToAdmin" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All Questions</a>
                    </li>
                    <li class="dropdown {{assume}}" ng-click="navBar(2)">
                        <a href="/#!/insert" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Add Questions</a>
                    </li>

                     <li class="dropdown {{assume}}" ng-click="navBar(3)">
                        <a href="/#!/userdetailswithScore" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students Profile</a>
                    </li>
                     <li class="dropdown {{assume}}" ng-click="navBar(3)">
                        <a href="/#!/sidedash" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Students Report</a>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu">
                <i class="zmdi zmdi-menu"></i>
            </a>
        </div>
    </nav>

<div class="quizzler">
<div class="viewport">
<div class="scoring-section">

    <header>
        <div class="scoring-title">
            <h1> Welcome Admin</h1>
        </div>

    </header>


    <div class="score-results">
        <h3>
            Your application is review this quiz


             Start your free trial
        </h3>
    </div>

    <h2>
        
    </h2>

</div>
</div>
</div>